.logo{
    width: 120px;
    height: 35px;
    margin-left: 20px;
    margin-top: 20px;
}

.main{
    background-color: white;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 600px;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0,0,1);
    gap: 10px;
}

.sign{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 185px;
    margin-top: 20px;
}

.stay{
    color: rgb(68, 68, 69);
    margin-right: 29px;
    margin-top: 3px;

}

input{
    width: 70%;
    height: 50px;
    margin-top: 20px;
    border: 2px solid rgba(88, 81, 81, 0.669);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 500;
    color: rgba(0, 0,0,5);
    outline-style: none;
}

a{
    margin-right: 160px;
    margin-top: 20px;
    font-weight: 400;
    color: rgb(54, 134, 209);
    font-size: large;
    text-decoration: none;
}

.btn1{
        width: 80%;
        margin-top: 20px;
        height: 50px;
        border-radius: 50px;
        border: none;
        background-color: #1f69c4;
        color: rgb(255, 255, 255);
        font-size: large;
        font-weight: bold;
}